{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chhatra-Tech-Blog</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="style.css"></script>
    <script src="main.js"></script>

</head>
<body>
<!-- menu bar section -->
{% include "header.html" %}


    <!-- </div> -->
    <!-- Hero Section -->
{% block content %}
{% endblock %}
      <!-- footer page -->
     {% include "footer.html" %}

</body>
</html>